<div class='os-content'>
  <nav class='mt-2'>
    <ul class='nav nav-flat nav-sidebar flex-column' data-widget='treeview' role='menu' data-accordion='false'>
      <% if current_user.admin? %>
        <li class='nav-item has-treeview menu-open'>
          <a href='#' class='nav-link'>
            <%= fa_icon 'lock', class: 'nav-icon' %>
            <p>
              <%= t('.admin_zone') %>
              <%= fa_icon 'angle-down', class: 'right' %> 
            </p>
          </a>
          <ul class='nav nav-treeview'>
            <li class='nav-item'>
              <%= link_to admin_courses_path, class: 'nav-link' do %>
                <%= fa_icon 'arrow-circle-o-right', class: 'nav-icon' %> 
                <p><%= t('.courses') %></p>
              <% end %>
            </li>
            <li class='nav-item'>
              <%= link_to admin_categories_path, class: 'nav-link' do %>
                <%= fa_icon 'arrow-circle-o-right', class: 'nav-icon' %> 
                <p><%= t('.categories') %></p>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
